.professional-card {
    // border: 2px solid $primary-color;
    border-radius: 1.5rem;
    overflow: hidden;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    // a {
    //     color: $secondary-color;
    //     text-transform: uppercase;
    //     padding-right: 0.5rem;

    //     &:hover,
    //     &:focus {
    //         color: darken($secondary-color, 10%);

    //         i {
    //             transition: 0.3s;
    //             padding-left: 0.5rem;
    //         }
    //     }

    //     &:active {
    //         color: darken($secondary-color, 20%);
    //     }
    // }
}

.professional-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 175px;

    background-color: rgba($primary-color, 0.7);
    background-blend-mode: multiply;
}

.image-1 {
    background-image: url('../images/food-supplements.jpg');
}

.image-2 {
    background-image: url('../images/business.jpg');
}

.image-3 {
    background-image: url('../images/people-gym.jpg');
}

.card-text {
    background-color: $light-color;
}