.card-home-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;

    background-color: rgba($primary-color, 0.8);
    background-blend-mode: multiply;
}

.image-1 {
    background-image: url('../images/scientist.webp');
}

.image-2 {
    background-image: url('../images/business.webp');
}

.image-3 {
    background-image: url('../images/people-gym.webp');
}

.image-4 {
    background-image: url('../images/food-supplements.webp');
}

.card-text {
    background-color: $light-color;
}

.card-cv {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($primary-color, 0.9);
    background-blend-mode: multiply;

    color: $light-color;

    border-radius: 1.5rem;

    padding: 1.5rem;
    margin: 2rem 0;
}