.job-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;

    background-color: rgba($primary-color, 0.8);
    background-blend-mode: multiply;
}

.image-1 {
    background-image: url('../images/scientist.jpg');
}

.image-2 {
    background-image: url('../images/business.jpg');
}

.image-3 {
    background-image: url('../images/people-gym.jpg');
}

.image-4 {
    background-image: url('../images/food-supplements.jpg');
}

.card-text {
    background-color: $light-color;
}