// colors
$primary-color: #14243B;
// $primary-color: #2C4569;
$secondary-color: #46A148;
// $secondary-color: #4CAF50;
// $secondary-color: #E63946;
$dark-color: #1C1C1E;
$light-color: #FFFFFF;

$base-background: #F4F4F9;
$alternative-background: #E8EAF6;

// font-weight size
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// font-size variables
$font-size-h1: clamp(1.5rem, 1rem + 2vw, 4rem);
$font-size-h2: clamp(1rem, 0.9rem + 1.5vw, 2rem);
$font-size-p: clamp(1rem, 0.75rem + 1vw, 1.5rem);
$font-size-a: clamp(1rem, 0.75rem + 1vw, 1.5rem);
$font-size-li: clamp(0.8rem, 0.7rem + 0.95vw, 1.3rem);

body {
    font-family: 'Poppins', sans-serif;
    
    color: $primary-color;
}

h1 {
    font-weight: $font-bold;
    font-size: $font-size-h1;

    // colors gradient
    background-image: linear-gradient($primary-color, $secondary-color);
    color: transparent;
    background-clip: text;
}

h2 {
    font-weight: $font-medium;
    font-size: $font-size-h2;
}

p {
    font-weight: $font-regular;
    font-size: $font-size-p;
}

a {
    font-weight: $font-medium;
    font-size: $font-size-a;
    text-decoration: none;

    transition: all 0.3s ease;
    color: $secondary-color;

    &:hover,
    &:focus {
        color: lighten($secondary-color, 10%);
    }

    &:active {
        color: lighten($secondary-color, 20%);
    }
}

li {
    font-weight: $font-regular;
    font-size: $font-size-li;
}

span {
    font-weight: $font-regular;
    font-size: $font-size-p;
}