nav {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: $light-color;
    
    .nav-pills {
        .nav-link {
          color: $primary-color;
          font-size: clamp(0.75rem, 0.5rem + 0.5vw, 1rem);
      
          &:hover {
            color: $secondary-color;
          }
      
          &.active {
            background-color: $primary-color;
            color: $light-color;
          }
        }
      }
}