@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "config";
@import "cards";
@import "buttons";
@import "navbar";

// div {
//     border: 1px solid red;
// }

// general

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $base-background;
}

main {
    background-color: $alternative-background;
}

// hero section

.home-hero {
    background-color: $light-color;
}

@media (min-width: 992px) {
    .img-responsive-lg {
        max-width: none;
        height: auto;
        width: 700px;
    }
}

// about section

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap;

    .logos-slide {
        display: inline-block;
        animation: 15s slide infinite linear;  
    }

    svg {
        height: 40px;
        margin: 0 30px;
    }

    @media (min-width: 992px) {
        padding: 60px 0;

        svg {
            height: 50px;
            margin: 0 40px;
        }
    }
}



// portfolio

.project {
    border-radius: 1.5rem;
    max-height: 550px;
    overflow: hidden;

    position: relative;
    bottom: -15%;
}

@media (min-width: 992px) {
    .portfolio {
        .project {
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }
        .second-card {
            border-top-right-radius: 1.5rem;
        }
        .third-card {
            border-bottom-right-radius: 1.5rem;
        }
    }
}

// contact form

.contact-form {
    background-color: $alternative-background;
}