@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4F4F9;
  font-family: "Poppins", sans-serif;
  color: #14243B;
}

.alternative-background {
  background-color: #E8EAF6;
}

h1 {
  font-weight: 700;
  font-size: clamp(1.5rem, 1rem + 2vw, 4rem);
  background-image: linear-gradient(#14243B, #4CAF50);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

h2 {
  font-weight: 700;
  font-size: clamp(1.25rem, 1rem + 2vw, 2.5rem);
}

h3 {
  font-weight: 500;
  font-size: clamp(1.125rem, 0.9rem + 1.25vw, 1.75rem);
}

h4 {
  font-weight: 500;
  font-size: clamp(1rem, 0.875rem + 1vw, 1.5rem);
}

p {
  font-weight: 400;
  font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
  text-align: justify;
}

a {
  font-weight: 400;
  font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
  text-decoration: none;
  transition: all 0.3s ease;
  color: #4CAF50;
}
a:hover, a:focus {
  color: #6ec071;
}
a:active {
  color: #92cf94;
}

li {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.7rem + 1vw, 1.375rem);
}

span {
  font-weight: 400;
  font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
}

.card-home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150px;
  background-color: rgba(20, 36, 59, 0.8);
  background-blend-mode: multiply;
}

.image-1 {
  background-image: url("../images/scientist.webp");
}

.image-2 {
  background-image: url("../images/business.webp");
}

.image-3 {
  background-image: url("../images/people-gym.webp");
}

.image-4 {
  background-image: url("../images/food-supplements.webp");
}

.card-text {
  background-color: #FFFFFF;
}

.btn {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .btn {
    padding: 10px 15px;
  }
}
.btn.btn-primary {
  color: #FFFFFF;
  background-color: #14243B;
  border-color: #14243B;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #213b61;
  border-color: #213b61;
}
.btn.btn-primary:active {
  background-color: #2e5287;
  border-color: #2e5287;
}
.btn.btn-secondary {
  color: #FFFFFF;
  background-color: #4CAF50;
  border-color: #4CAF50;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: #6ec071;
  border-color: #6ec071;
}
.btn.btn-secondary:active {
  background-color: #92cf94;
  border-color: #92cf94;
}

nav {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: #FFFFFF;
}
nav .nav-pills .nav-link {
  color: #14243B;
  font-size: clamp(0.75rem, 0.5rem + 0.5vw, 1rem);
}
nav .nav-pills .nav-link:hover {
  color: #4CAF50;
}
nav .nav-pills .nav-link.active {
  background-color: #14243B;
  color: #FFFFFF;
}

.hero {
  background-color: #FFFFFF;
}

@media (min-width: 992px) {
  .img-responsive-lg {
    height: auto;
    max-width: 700px;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  padding: 40px 0;
  white-space: nowrap;
}
.logos svg {
  fill: #14243B;
}
.logos .logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}
.logos svg {
  height: 40px;
  margin: 0 30px;
}
@media (min-width: 992px) {
  .logos {
    padding: 60px 0;
  }
  .logos svg {
    height: 50px;
    margin: 0 40px;
  }
}

.grid-card {
  display: grid;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .grid-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project {
  border-radius: 1.5rem;
  max-height: 550px;
  overflow: hidden;
  position: relative;
  bottom: -15%;
}

@media (min-width: 992px) {
  .portfolio .project {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
  .portfolio .second-card {
    border-top-right-radius: 1.5rem;
  }
  .portfolio .third-card {
    border-bottom-right-radius: 1.5rem;
  }
}
.grid-cv {
  display: grid;
  gap: 2rem;
}
@media (min-width: 992px) {
  .grid-cv {
    grid-template-columns: 1.6fr 1fr;
  }
}
.grid-cv .work-experience ul {
  list-style: none;
  padding-left: 0.5rem;
}
.grid-cv .work-experience ul li {
  position: relative;
  padding-left: 1.5em;
}
.grid-cv .work-experience ul li::before {
  content: "—";
  position: absolute;
  left: 0;
  color: #14243B;
  font-weight: 500;
}
.grid-cv .tech-skills ul {
  list-style: none;
  padding-left: 0.5rem;
}
.grid-cv .tech-skills ul li {
  position: relative;
  padding-left: 1.5em;
}
.grid-cv .tech-skills ul li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  left: 0;
  color: #14243B;
}

.contact-form .form-control {
  background-color: #F4F4F9;
  color: #14243B;
  border-color: #14243B;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.contact-form .form-control::-moz-placeholder {
  color: #2e5287;
}
.contact-form .form-control::placeholder {
  color: #2e5287;
}
.contact-form .form-control:hover {
  background-color: white;
}
.contact-form .form-control:focus {
  background-color: white;
  border-color: #4CAF50;
  color: #14243B;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
}